
.menu {
    div:nth-child(3) {
        top: auto !important;
        bottom: 60px!important;
    }
}
.test {
    background-color: #b06d8d !important;
}

.link {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
  }